{% extends 'base.html.twig' %}

{% block title %}Modification de mot de passe{% endblock %}

{% block body %}

<div class="container pt-5">

		{{ form_start(form) }}
        <div class="row justify-content-center align-items-center h-100">
            <div class="col-md-8">
                <div class="bg-light border border-dark p-3">
                    <h1>Mettre à jour son mot de passe</h1>
                    {{ form_label(form.oldPassword)}}
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="basic-addon1">
                                <i class="fa fa-lock"></i>
                            </span>
                        </div>
                        {{ form_widget(form.oldPassword)}}
                    </div>
                    {{ form_label(form.newPassword)}}
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="basic-addon1">
                                <i class="fa fa-lock"></i>
                            </span>
                        </div>
                        {{ form_widget(form.newPassword)}}
                    </div>
                    {{ form_label(form.confirmPassword)}}
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="basic-addon1">
                                <i class="fa fa-lock"></i>
                            </span>
                        </div>
                        {{ form_widget(form.confirmPassword)}}
                    </div>
                    <div class="row text-center mb-4">
                        <div class="col">
                            {{ form_label(form.updatePassword)}}
                            {{ form_widget(form.updatePassword)}}
                        </div>
                    </div>
                </div>
            </div>
        </div>    
                {{ form_end(form) }}
	</div>

{% endblock %}