{% extends 'base.html.twig' %}

{% block title %}Accueil
{% endblock %}

{% block body %}
	{% if app.request.query.get('withAlert') %}
		<div class="alert alert-success">
			<h4 class="alert-heading">Bravo !</h4>
			<p>
				Votre candidature auprès de
				<strong>
					<a href="{{ path("user_show", {'slug': candidature.offer.author.slug})}}">{{candidature.offer.author.fullName}}</a>
				</strong>
				pour l'offre
				<strong>
					<a href="{{ path("offers_show", {'slug': candidature.offer.slug})}}">{{candidature.offer.title}}</a>
				</strong>
				a bien été prise en compte !
			</p>
		</div>
	{% endif %}

	<div class="container">
		<div class="jumbotron my-5">
			<h1 class="col-md-12 display-4">Bienvenue sur StudyJob !</h1>
			<p class="lead">Ici nous mettons en relation vos
				<strong>Etudiants</strong>
				et vos
				<strong>Futurs Apprentis</strong>.</p>
			<hr class="my-4">
			<blockquote class="blockquote">
				<p class="mb-0">StudyJob Ensemble construisons un avenir meilleur !</p>
				<div class="blockquote-footer mb-4">StudyJob dans
					<cite title="Source Title">Les pensées inédites de StudyJob</cite>
				</div>
			</blockquote>
			{% if app.user %}
			<a class="btn btn-dark btn-lg" href="{{ path('offers_index') }}" role="button">Voir les offres !</a>
			{% else %}
			<a class="btn btn-dark btn-lg" href="{{ path('account_register') }}" role="button">S'inscrire maintenant !</a>
			{% endif %}

		</div>
			<div class="row mb-4 justify-content-center">
				<div class="col-12 col-md-4">
					<div class="card bg-light mb-3">
						<img class="img-fluid" src="{{ asset('images/student.png') }}" alt="Card image">
						<div class="card-body" id="summary">
							<h4 class="card-title">Avantages Etudiant</h4>
							<ul class="card-text px-0 collapse" id="collapseStudent">
								<li>1) Bénéficier d’une offre de formation adaptée à son niveau et à ses besoins.</li><br>
								<li>2) Acquérir une qualification reconnue en situation de travail en étant rémunéré et quel que soit le niveau de formation initial.</li><br>
								<li>3) Être accompagné par un tuteur ce qui facilite l’insertion dans l’entreprise.</li><br>
							</ul>
							<a class="btn btn-info collapsed rounded" data-toggle="collapse" href="#collapseStudent" aria-expanded="false" aria-controls="collapseSummary"></a>
						</div>
					</div>
				</div>
				<div class="col-12 col-md-4">
					<div class="card text-white border border-white bg-dark mb-3">
						<img class="img-fluid bg-light" src="{{ asset('images/handshake.png') }}" alt="Card image">
						<div class="card-body" id="summary">
							<h4 class="card-title">Qu'est ce que l'alternance ?</h4>
							<p class="card-text collapse" id="collapseAlternance">Le principe d'une formation en alternance, est d'alterner une formation générale et théorique dans un centre de formation avec une formation pratique en entreprise, dans le but de se préparer à un examen mais également apprendre les pratiques d’un métier.</p>
							<a class="btn btn-info collapsed rounded" data-toggle="collapse" href="#collapseAlternance" aria-expanded="false" aria-controls="collapseSummary"></a>
						</div>
					</div>
				</div>
				<div class="col-12 col-md-4">
					<div class="card bg-light mb-3">
						<img class="img-fluid" src="{{ asset('images/employer.png') }}" alt="Card image">
						<div class="card-body" id="summary">
							<h4 class="card-title">Avantages Employeur</h4>
							<ul class="card-text px-0 collapse" id="collapseEmployeur">
								<li>1) Recruter un salarié motivé en bénéficiant de conditions avantageuses.</li><br>
								<li>2) Établir une convention de formation adaptée aux besoins de l’entreprise (évaluation préformative, personnalisation du parcours de formation et choix de l’organisme) et du salarié.</li><br>
								<li>3) Assurer une transmission des savoir-faire et un accompagnement grâce aux tuteurs.</li><br>
							</ul>
							<a class="btn btn-info collapsed rounded" data-toggle="collapse" href="#collapseEmployeur" aria-expanded="false" aria-controls="collapseSummary"></a>
						</div>
					</div>
				</div>
			</div>
	</div>

{% endblock %}
