<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
            <a class="navbar-brand" href="{{ path("home") }}">StudyJob</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarColor01">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link py-0" href="{{ path("home") }}">Accueil <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link py-0" href="{{ path("offers_index") }}">Offres <span class="sr-only">(current)</span></a>
                    </li>
                </ul>
                <ul class="navbar-nav ml-auto">
                {% if app.user %}
                    <li class="nav-item dropdown">
                        <a href="#" class="nav-link py-0 dropdown-toggle" data-toggle="dropdown" id="accountDropdownLink">
                        {% if app.user.picture is null %}
                            {{app.user.fullName}}
                            {% else %}
                                
                        <img src="{{ app.user.picture }}" class="avatar avatar-mini" 
                        alt="Avatar de {{app.user.fullName}}"> {{app.user.fullName}}
                        </a>
                        {% endif %}

                        <div class="dropdown-menu dropdown-menu-right dropdown-menu--animate" aria-labelledby="accountDropdownLink">
                            {% if is_granted('ROLE_EMPLOYER') %}
                            <a href="{{ path('offers_new')}}" class="dropdown-item">Créer une offre</a>
                            <div class="dropdown-divider"></div>
                            {% endif %}
                            <a href="{{ path('account_index')}}" class="dropdown-item">Mon compte</a>
                            <a href="{{ path('account_profile')}}" class="dropdown-item">Modifier mon profil</a>
                            <div class="dropdown-divider"></div>
                            <a href="{{ path('account_logout')}}" class="dropdown-item">Déconnexion</a>
                        </div>
                    </li>
                {% else %}
                    <li class="nav-item">
                        <a href="{{ path('account_register') }}" class="nav-link">Inscription <i class="fa fa-sign-in"></i></a>
                    </li>
                    <li class="nav-item">  
                        <a href="{{ path('account_login') }}" class="nav-link">Connexion <i class="fa fa-user"></i></a>                  
                    </li>
                {% endif %}
                </ul>
            </div>
        </nav>

        {% for label, messages in app.flashes %}
                <div class="alert alert-{{ label }}">
                    {% for message in messages %}
                        <p class="text-center">{{ message | raw }}</p>
                    {% endfor %}
                </div>
        {% endfor %}