{% extends 'base.html.twig' %}

{% block title %}Edition d'une offre{% endblock %}

{% block body %}

<div class="container">
		{{form_start(form)}}
		<div class="bg-light border border-dark p-3 my-5">
			<h1>Modifier l'offre</h1>
			{{ form_label(form.title)}}
			<div class="input-group mb-3">
				<div class="input-group-prepend">
					<span class="input-group-text" id="basic-addon1">
						<i class="fa fa-align-right"></i>
					</span>
				</div>
				{{ form_widget(form.title)}}
			</div>
			{{ form_label(form.slug)}}
			<div class="input-group mb-3">
				<div class="input-group-prepend">
					<span class="input-group-text" id="basic-addon1">
						<i class="fa fa-link"></i>
					</span>
				</div>
				{{ form_widget(form.slug)}}
			</div>
			<div class="mb-4">
				{{ form_label(form.description)}}
				{{ form_widget(form.description)}}
			</div>
			<div class="col text-center">
				{{ form_label(form.addOffer)}}
				{{ form_widget(form.addOffer)}}
			</div>
		</div>
		{{form_end(form)}}
	</div>

{% endblock %}