{% extends 'base.html.twig' %}

{% block title %}
    {{offer.title}}
{% endblock %}

{% block body %}




<div class="container">
    <div class="row">
        <div class="col-9">
            <h1>{{offer.title}}</h1>
            <p>{{offer.description}}</p>
            <a href="{{ path('candidatures_new', {'slug': offer.slug}) }}" class="btn btn-primary">Postuler à cette offre</a>
            {% if app.user and app.user == offer.author %}
            <a href="{{ path('offers_edit', {'slug': offer.slug}) }}" class="btn btn-secondary">Modifier l'annonce</a>

            <a href="{{ path('offers_delete', {'slug': offer.slug}) }}" class="btn btn-danger" 
            onclick="return confirm(`Êtes vous sur de vouloir supprimer l'offre : {{offer.title}} ?`)">Supprimer l'annonce</a>
            {% endif %}
        </div>

    <div class="col">
    {% set o = offer.author %}

            <div class="row mb-3 align-items-center">
                <div class="col-4">
                    <a href="{{path('user_show', {'slug' : o.slug} )}}">
                        <img src="{{o.picture}}" class="avatar avatar-medium" alt="Avatar de {{o.fullName}}">
                    </a>
                </div>
                <div class="col">
                    <a href="{{path('user_show', {'slug' : o.slug} )}}">
                    <h3>{{o.fullName}}</h3>
                    </a>
                    <span class="badge badge-primary rounded">{{o.offers | length}} offres</span>
                </div>
            </div>
            
            {{ o.description | raw}}
            
        </div>
    </div>
</div>
               

{% endblock %}
        