{% extends 'base.html.twig' %}

{% block title %}Postuler à une offre{% endblock %}

{% block body %}
<div class="container">
    <h1>Postuler pour l'offre : {{offer.title}}</h1>

    <p>Vous êtes sur le point de postuler pour l'offre de <strong>{{offer.author.fullName}}</strong>
    , l'entreprise vous répondera d'ici peu !</p>


    {{form_start(form)}}

    <div class="alert alert-light">
        <h2>Commencez par upload un CV et dite nous en un peu plus sur vos motivations (optionnel) !</h2>
        <div class="row">
            <div class="col">
                {{form_row(form.cvFileName)}}
            </div>
            <div class="col">
                {{form_row(form.coverLetter)}}
            </div>
        </div>
        <button type="submit" class="btn btn-success">Envoyer votre candidature</button>
    </div>

    {{form_end(form)}}
</div>
{% endblock %}
