{% extends 'base.html.twig' %}

{% block title %}Postuler à une offre
{% endblock %}

{% block body %}
	<div class="container">
		<div class="row mt-4">
			<div class="col">
				<h1>Postuler pour l'offre :
					<a href="{{path('offers_show', {'slug' : offer.slug} )}}">{{offer.title}}</a></h1>

				<p>Vous êtes sur le point de postuler pour l'offre de
					<a href="{{path('user_show', {'slug' : offer.author.slug} )}}"><strong>{{offer.author.fullName}}</strong></a>
					, l'entreprise vous répondera d'ici peu !</p>
			</div>
		</div>
		<div class="row">
				{{form_start(form)}}
				<div class="col-12 alert alert-light">
					<h2>Commencez par upload un CV et dite nous en un peu plus sur vos motivations (optionnel) !</h2>
			    </div>
		</div>
					<div class="row mb-2 justify-content-center">
							<div class="col-12 col-sm-10 col-lg-8">
								{{form_row(form.coverLetter)}}
							</div>
					</div>
					<div class="row mb-4 justify-content-center">
					{# <div class="row mb-4 justify-content-center"> #}
							<div class="col-6 col-sm-3 col-md-3 col-lg-2 mb-4 align-self-center">
								{{form_widget(form.cvFileName)}}
							</div>
					{# </div> #}
						<div class="col-9 col-sm-5 col-md-4 text-center">
							<button type="submit" class="btn btn-success rounded">Envoyer votre candidature</button>
						</div>
					</div>
				</div>

				{{form_end(form)}}
	</div>
{% endblock %}
